.Landing-container{
    font-family: cursive;
}
.Landing-navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 2.5rem;
    background-color: #8739F9;
    color: white;
}
.Landing-navbar h3{
    font-size: 20px;
    margin-left: 30px;
    margin-right: auto;
}
.Landing-login{
    color: white;
    flex-basis:40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Landing-signup{
    cursor: pointer;
    color: #E1DFE9;
}
.Landing-login-button{
    cursor: pointer;
    padding: 0.313rem 1.875rem;
    border: 0;
    border-radius: 3.125rem;
    font-weight: 600;
    transition: 0.4s;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #8739F9;
}
.Landing-login-button:hover{
    color: white;
    background-color: #8739F9;
    border: 1px solid white;
}
.Landing-hero{
    display: flex;
    height: 32rem;
    padding: 0.625rem 2.5rem;
    background-color: #8739F9;
    color: white;
}
.Landing-hero-side{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.Landing-hero-side h1{
    font-size: 3rem;
    word-wrap: break-word;
}
.Landing-hero-side img{
    width: 70%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.Landing-footer{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Landing-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
.Landing-dropdown {
    font-size: 1.3rem;
    color: white;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	visibility: hidden;
	opacity: 0;
}
.landing-footer-copy{
    text-align: center;
    color: #908E9B;
    padding: 5px;
}
@media screen and (max-width: 1024px) {
	.Landing-dropdown  {
		visibility: visible;
		opacity: 1;
	}
	.Landing-login{
		box-sizing: border-box;
		position: fixed;
		top: -100vh;
		left: 0;
		height: 15vh;
		background-color: #8739F9;
		padding: 20px;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		gap: 1rem;
        border-bottom: 1px solid white;
		transition: all 0.5s;
	}
	.home_header--responsive--nav {
		transform: translateY(100vh);
	}
	.Landing-dropdown-closeBtn {
		position: absolute;
		top: 1rem;
		right: 2rem;
	}
}

@media screen and (max-width: 768px) {
    .Landing-dropdown  {
		visibility: visible;
		opacity: 1;
	}
    .Landing-hero{
        display: flex;
        flex-direction: column;
    }
	.Landing-login{
		box-sizing: border-box;
		position: fixed;
		top: -100vh;
		left: 0;
		height: 35vh;
		background-color: #8739F9;
		padding: 20px;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		transition: all 0.5s;
        border-bottom: 1px solid white;

	}
	.home_header--responsive--nav {
		transform: translateY(100vh);
	}
	.Landing-dropdown-closeBtn {
		position: absolute;
		top: 1rem;
		right: 2rem;
	}
}
@media screen and (max-width: 500px) {
    .Landing-hero-side h1{
        font-size: 2.5rem;
    }
    .Landing-dropdown  {
		visibility: visible;
		opacity: 1;
	}
    .Landing-hero-side img{
        width: 70%;
    }
	.Landing-login{
		box-sizing: border-box;
		position: fixed;
		top: -100vh;
		left: 0;
		height: 35vh;
		background-color: #8739F9;
		padding: 20px;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		transition: all 0.5s;
        border-bottom: 1px solid white;
	}
	.home_header--responsive--nav {
		transform: translateY(100vh);
	}
	.Landing-dropdown-closeBtn {
		position: absolute;
		top: 1rem;
		right: 2rem;
	}
}
@media screen and (max-width: 321px) {
    .Landing-hero-side h1{
        font-size: 2rem;
    }
    .Landing-hero-side img{
        width: 70%;
    }
}